* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "JetBrains", sans-serif;
}

.main-container {
  padding: 15px;
  border-bottom: 3px solid #808080;
}

.main-title {
  text-align: center;
  font-size: 3.815rem;
  text-transform: uppercase;
}
